@import url('https://fonts.googleapis.com/css?family=Muli:400,600,700&display=swap')

$font-stack-h1-h2: 'Muli', "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif
$background-color: #f5b81c6e
$scratchpay-blue: #245CA6
$scratchpay-light-blue: #A3C7ED
$scratchpay-cobalt: #293D99

body
  background: $background-color

main
  padding: 20px 20px 60px
  max-width: 680px
  margin: 0 auto
  font-size: 16px
  line-height: 1.65
  text-align: center
  color: $scratchpay-cobalt

h1
  font-family: $font-stack-h1-h2 !important
  font-weight: 700
  font-size: 35px

h2
  font-family: $font-stack-h1-h2 !important
  font-weight: 600
  font-size: 20px

a
  cursor: pointer
  color: #0076ff
  text-decoration: none
  transition: all 0.2s ease
  border-bottom: 1px solid white
  &:hover
    border-bottom: 1px solid #0076ff