table.ui.celled
  border-top: 3px solid #245CA6
  font-family: 'Muli', "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif

  button
    font-family: 'Muli', "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif

  div.wrap-cell
    padding: 5px
    // border: 2px solid red
    overflow-y: auto

    textarea
      resize: none
      width: 100%

  p.table-tip
    color: #838383