table.ui.celled
  border-top: 3px solid #245CA6
  font-family: 'Muli', "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif

  button
    font-family: 'Muli', "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif